:root {
    --grayscale: grey;

}

html {
    height: 100%;
}

.strimp {
    --startX: 50%;
    --startY: 50%;
    --endX: 50%;
    --endY: 50%;

    display: flex;
    width: max-content;
    position: absolute;
    animation: slide;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;

    filter: brightness(100%);
}
.strimp:hover {
    filter: brightness(80%);
}

@keyframes slide {
    from {left: var(--startX); top: var(--startY);}
    to {left: var(--endX); top: var(--endY);}
}


body {
    background-color: lightgray;
}

#gameBoard {
    width: auto;
    height: auto;
}

#hud {
    background-color: black;
    color: white;

    width: 10%;
    height: 2.5%;
    padding: 0.5% 1% 0.5% 1%;
    border: none;
    border-radius: 0.75rem;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    position: sticky;
    overflow: visible;
    z-index: 999999999999999999;
    opacity: 75%;
}

#strimpCounter {
    overflow-wrap: break-word;
    font-weight: normal;
}